.footer__column-link,
.footer__column-link:hover,
.footer__column-link:active,
.footer__column-link:visited {
  color: white;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
  text-decoration: none;
  opacity: 1;
  transition: opasity 3s linear;
}

.footer__column-link:last-of-type {
  margin-bottom: 0;
}

.footer__column-link:hover {
  opacity: 0.5;
}
