.root {
  margin: 0 auto;
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", "Arial", sans-serif;
}

/* .root a {
  opacity: 1;
  transition: opasity 3s linear;
} */
/* .root a:hover {
  opacity: 0.5;
} */
